/* app css stylesheet */
body {
  height: 1000px;
  width: 100%;
  background: #B2B2B2;
  font-family: avenir-book;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid #FFF;
  /*margin-bottom: 2em;*/
  padding: 0 0 0.5em;
}

.menu > li {
  display: inline;
  text-decoration: none;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#cy {
    height: 650px;
    width: 75%;
    border-radius: 3px;
    position: relative;
    margin: 10px;
    float: left;
    background-image: url(./assets/bg-neutral.jpg);
    background-size: cover; 
}

.info-container {
  background-color: #FFF;
}

